html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background: #000;
}

video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform: scaleX(-1);
  z-index: 0;
}

#cursor {
  position: absolute;
  width: 25px;
  height: 25px;
  background: rgba(0, 255, 255, 0.8);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.button {
  position: absolute;
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #ff5722;
  color: #fff;
  cursor: pointer;
  z-index: 5; /*this way, the button is below the virtual cursor but above the camera*/
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #e64a19;
}
#options {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
  z-index: 5;
}
