[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
tensorflow = "==2.15.1"
tensorflowjs = "*"
tensorflow-decision-forests = "*"

[dev-packages]

[requires]
python_version = "3.9"
